__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

.git
.gitignore

node_modules
frontend/node_modules

uploads
models
checkpoints

*.pt
*.pth
*.bin
*.onnx

dist
build

venv
.envrc

*.log

.ipynb_checkpoints